*.class
*.log

hs_err_pid*

logs
target
/.bsp
/.idea
/.idea_modules
/.coursier
/.classpath
/.project
/.settings
/RUNNING_PID
.env
.envrc
flyway.conf
node_modules
iskw-boiler-backend/
.sbt
.ivy2
.codex
.bloop
.metals
metals.sbt
